<script type="javascript/template" id="tmpl-adminRights-page">
  <div class="page">

    <div class="panel minimal minimal-gray">
      <div class="panel-heading">
        <div class="panel-title"><h4></h4></div>
        <div class="panel-options pull-left">
          <ul class="nav nav-tabs">
            <li class="tab-item" data-click-handler="showMainGroups"><a href="#" data-toggle="tab"><i class="entypo-chart-pie"></i> Общие</a></li>
            <li class="tab-item" data-click-handler="showProgressForm"><a href="#" data-toggle="tab"><i class="entypo-chart-line"></i> Институты</a></li>
            <li class="tab-item" data-click-handler="showProjectForm"><a href="#" data-toggle="tab"><i class="entypo-doc-text"></i> Кафедры</a></li>
            <li class="tab-item" data-click-handler="showExamForm"><a href="#" data-toggle="tab"><i class="entypo-check"></i> БРС</a></li>
            <li class="tab-item" data-click-handler="showTimetableRoles"><a href="#" data-toggle="tab"><i class="entypo-cog"></i> Расписание</a></li>
          </ul>
        </div>
      </div>

      <div class="panel-body">
        <div class="tab-content">
          <div class="tab-pane">
            <table id="attendance" class="table table-bordered table-striped table-hover" >
            </table>
          </div>
          <div class="tab-pane" style="margin-bottom: 300px">
            <table id="progress" class="table table-bordered table-striped table-hover" >
            </table>
          </div>
          <div class="tab-pane">
            <table id="exam" class="table table-bordered table-striped table-hover" >
            </table>
          </div>
          <div class="tab-pane">
            <table id="project" class="table table-bordered table-striped table-hover" >
            </table>
          </div>
          <div class="tab-pane" style="margin-bottom: 500px">
            <table id="timetable-users" class="table table-bordered table-striped table-hover" >
              <thead>
              <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Группа</th>
              </tr>
              </thead>
              <tbody>
                <tr class="add-user-in-timetable" style="cursor: pointer"><td colspan="3" class="success"><i class="entypo-plus-circled"></i> Добавить пользователя</td></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>


<script type="javascript/template" id="tmpl-timetable-users-line">
    <tr class="user-line">
      <td style="max-width: 50px;"><input name="user-id" value="{id}" class="form-control user-id-input"></td>
      <td><a href="javascript: showProfile({id})" class="handled">{first_name} {last_name} {middle_name}</a> </td>
      <td class="group-name"><select class="to-select2 select2"></select></td>
      <td style="cursor: pointer" class="danger"><i class="entypo-trash"></i> Удалить</td>
    </tr>
</script>

<script type="javascript/template" id="tmpl-role-option">
    <option class="role" data-group-id="{group_id}" data-module="{module}" value="{group_id}">{group_name}</option>
</script>