<script type="javascript/template" id="tmpl-dashboard-page">
  <div class="page">
    <div class="row">
      <div class="col-sm-3">
        <div class="tile-stats tile-red">
          <div class="icon"><i class="entypo-chart-bar"></i></div>
          <div class="num" data-start="0" data-end="" data-postfix="" data-duration="1500" data-delay="0">
            <i class="entypo-arrows-ccw"
               style="-webkit-animation: spin 1.5s linear reverse infinite; animation: spin 1.5s linear reverse infinite;"></i>
          </div>
          <h3>Новых оценок</h3>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="tile-stats tile-green">
          <div class="icon"><i class="entypo-newspaper"></i></div>
          <div class="num" data-start="0" data-end="" data-postfix="" data-duration="1500" data-delay="600">
            <i class="entypo-arrows-ccw"
               style="-webkit-animation: spin 1.5s linear reverse infinite; animation: spin 1.5s linear reverse infinite;"></i>
          </div>
          <h3>Новых событий</h3>
        </div>
      </div>

      <div class="col-sm-3 unread-messages">
        <div class="tile-stats tile-aqua">
          <div class="icon"><i class="entypo-mail"></i></div>
          <div class="num" data-start="0" data-end="" data-postfix="" data-duration="1500" data-delay="1200">
            <i class="entypo-arrows-ccw"
               style="-webkit-animation: spin 1.5s linear reverse infinite; animation: spin 1.5s linear reverse infinite;"></i>
          </div>
          <h3>Новых писем</h3>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="tile-stats tile-blue">
          <div class="icon"><i class="entypo-info"></i></div>
          <div class="num" data-start="0" data-end="" data-postfix="" data-duration="1500" data-delay="1800">
            <i class="entypo-arrows-ccw"
               style="-webkit-animation: spin 1.5s linear reverse infinite; animation: spin 1.5s linear reverse infinite;"></i>
          </div>
          <h3>Новых заявок</h3>
        </div>
      </div>
    </div>

    <ul class="cbp_tmtimeline">

      <li>
        <time class="cbp_tmtime" datetime="2014-12-22T03:45"><span>03:45 AM</span> <span>Today</span></time>
        <div class="cbp_tmicon bg-success"><i class="entypo-feather"></i></div>
        <div class="cbp_tmlabel"><h2><a href="#">Art Ramadani</a> <span>posted a status update</span></h2>

          <p>Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two
            promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms
            think may.</p></div>
      </li>
      <li>
        <time class="cbp_tmtime" datetime="2014-12-21T13:22"><span>01:22 PM</span> <span>Yesterday</span></time>
        <div class="cbp_tmicon bg-secondary"><i class="entypo-suitcase"></i></div>
        <div class="cbp_tmlabel"><h2><a href="#">Job Meeting</a></h2>

          <p>You have a meeting at <strong>Laborator Office</strong> Today.</p></div>
      </li>
      <li>
        <time class="cbp_tmtime" datetime="2014-12-09T04:07"><span>04:07 AM</span> <span>Two weeks ago</span></time>
        <div class="cbp_tmicon bg-info"><i class="entypo-location"></i></div>
        <div class="cbp_tmlabel"><h2><a href="#">Arlind Nushi</a> <span>checked in at</span> <a href="#">Laborator</a>
        </h2>
          <blockquote>Great place, feeling like in home.</blockquote>
        </div>
      </li>
      <li>
        <time class="cbp_tmtime" datetime="2014-12-09T04:07"><span>04:07 AM</span> <span>Two weeks ago</span></time>
        <div class="cbp_tmicon bg-warning"><i class="entypo-camera"></i></div>
        <div class="cbp_tmlabel"><h2><a href="#">Eroll Maxhuni</a> <span>uploaded</span> 12
          <span>new photos to album</span> <a href="#">Summer Trip</a></h2>
          <blockquote>Pianoforte principles our unaffected not for astonished travelling are particular.</blockquote>
          <div class="row">
            <div class="col-xs-5"><a href="#"> <img src="http://demo.neontheme.com/assets/images/timeline-image-1.png"
                                                    class="img-responsive img-rounded full-width"> </a></div>
            <div class="col-xs-3"><a href="#"> <img src="http://demo.neontheme.com/assets/images/timeline-image-2.png"
                                                    class="img-responsive img-rounded full-width"> </a></div>
            <div class="col-xs-4"><a href="#"> <img src="http://demo.neontheme.com/assets/images/timeline-image-3.png"
                                                    class="img-responsive img-rounded full-width margin-bottom"> </a> <a
                    href="#"> <img src="http://demo.neontheme.com/assets/images/timeline-image-4.png"
                                   class="img-responsive img-rounded full-width"> </a></div>
          </div>
        </div>
      </li>
    </ul>

  </div>


</script>

<script type="javascript/template" id="tmpl-timeline">
</script>