<script type="javascript/template" id="tmpl-instituteViewRequisitions-page">
	<div class="page">
		<h2>Заявки студентов</h2>

		<table class="table table-bordered" id="requisitions" role="grid">
			<colgroup>
				<col>
				<col>
				<col>
				<col>
				<col width="150px">
				<col width="150px">
			</colgroup>
			<thead>
			<tr role="row">
				<th>ФИО студента</th>
				<th>Организация</th>
				<td>Дата подачи</td>
				<th>Статус</th>
			</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<div id="modal-placeholder"></div>
	</div>
</script>

<script type="javascript/template" id="tmpl-instituteViewRequisitions-requisition-modal">

	<div id="requisition_modal" class="modal fade" style="display: none" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">{name}</h4></div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label">ФИО:</label>
								<p class="form-control-static">{user_full_name}</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label">Номер студ. билета:</label>
								<p class="form-control-static">{user_stud}</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label" for="requisition_num_input">Номер справки:</label>
								<input id="requisition_num_input" type="text" class="form-control" placeholder="159/45" value="{num}">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">Справка в:</label>
								<p class="form-control-static">{where}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Вид печати:</label>
								<p class="form-control-static">{seal_type}</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Дополнительно прошу указать:</label>
								<p class="form-control-static">{additional_info}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Дата подачи:</label>
								<p class="form-control-static">{create_date}</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group no-margin">
								<label class="control-label">Количество:</label>
								<p class="form-control-static">{quantity}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="date_handoff_input">Дата выдачи:</label>
								<input id="date_handoff_input" type="text" class="form-control datepicker" data-format="dd.mm.yyyy" data-start-date="0d" value="{end_date}">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="status_select">Статус:</label>
								<select id="status_select" class="form-control">
									<option>Ожидает</option>
									<option>В обработке</option>
									<option>Отклонен</option>
									<option>Готов</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
					<button type="button" class="btn btn-info">Сохранить</button>
				</div>
			</div>
		</div>
	</div>
</script>

<script type="javascript/template" id="tmpl-instituteViewRequisitions-table-row">

	<tr class="requisition-{requisition_id}">
		<td>{user_full_name}</td>
		<td>{where}</td>
		<td>{date}</td>
		<td>
			<select class="form-control to-select2">
				<option value="1">Ожидает</option>
				<option value="2">В обработке</option>
				<option value="3">Отклонен</option>
				<option value="4">Готов</option>
			</select>
		</td>
		<td class="btn btn-info btn-icon icon-left"><i class="entypo-info"></i>Просмотр</td>
		<td class="btn btn-primary btn-icon icon-left"><i class="entypo-archive"></i>В архив</td>
	</tr>

</script>