<script type="javascript/template" id="tmpl-mobileApps-page">
  <div class="page">
    <div class="libs-env">
      <section class="catalog">
        <div class="row">
          <div class="col-md-8 col-sm-6"><h2>Мобильные приложения</h2></div>
          <div class="col-md-4 col-sm-6">
            <div class="search-form-full">
            </div>
          </div>
        </div>

        <table class="table table-bordered table-striped">
          <tr>
            <td colspan="2"><h3>Android <sup>alpha</sup></h3></td>
          </tr>
          <tr>
            <td>Доступна справочная информация по сотрудникам и студентам университета, меню столовых (с ежедневным обновлением).
              <p>Для авторизации запустите приложение, нажмите кнопку "войти" и наведите камеру Вашего смартфона на QR код справа.</p>
            </td>
            <td style="width: 220px;" id="android-qr-code"></td>
          </tr>
        </table>
      </section>
    </div>
    <iframe id="proxy-frame" style="width: 100%; height: 100%; border: 0;" src="" class="hidden"></iframe>
  </div>
</script>