<script type="javascript/template" id="tmpl-professorsTimetable-page">
  <div class="page">
    <div class="timetable-env">
      <section class="timetable">
        <div class="row">
          <div class="col-md-12">
            <table class="table responsive table-hover table-condensed">
              <tbody class="timetable-tbody">

              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
  </div>
</script>

<script type="javascript/template" id="tmpl-my-timetable-day">
  <tr class="{color_class}">
    <td rowspan="13" colspan="7">{day_name}</td>
  </tr>
</script>

<script type="javascript/template" id="tmpl-my-timetable-class-type">
  <tr class="{color_class} ">
    <td rowspan="3" colspan="6" class="class-time-{class_type}">{class_time}</td>
  </tr>
</script>

<script type="javascript/template" id="tmpl-my-timetable-class-info">
  <tr class="timetable-item {color_class}" data-day-type="{day_type}" data-class-type="{class_type}" data-week-type="{week_type}">
    <td>{week_type_text}</td>
    <td>
      {subject_name}
    </td>
    <td>
      {building_type} {room}
    </td>
    <td style="width: 200px;">
      {kaf_name}
    </td>
    <td>
      {class_format_text}
    </td>
    <td style="width: 200px;">
      <a href="javascript:showProfile({professor_id})" class="handled" title="Информация про {first_name} {last_name} {middle_name}">{first_name} {last_name} {middle_name}</a>
    </td>
  </tr>
</script>

