<script type="javascript/template" id="tmpl-professorCertificationPrint-page">

	<div class="page ">
		<button id="print_button" class="btn btn-primary glyphicon glyphicon-print pull-right hidden-print">&thinsp;</button>
		<h2>Аттестационный лист</h2>
		<hr>
		<ol id="attestation_info" class="container"></ol>
		<table id="attestation_list" class="table table-bordered table-striped">
			<colgroup>
				<col width="8%">
				<col width="44%">
				<col width="12%">
				<col width="12%">
				<col width="12%">
				<col width="12%">
			</colgroup>
			<thead>
			<tr>
				<th colspan="2">Сведения о научных сотрудниках и педагогических работниках</th>
				<th>Значение показателя</th>
				<th>Баллов за единицу измерения</th>
				<th>Количество набранных баллов</th>
				<th>Максимум баллов за пункт (группу пунктов)</th>
			</tr>
			</thead>
			<tbody></tbody>
		</table>
		<div class="form-group">
			<p class="col-xs-9 text-right">Численные параметры аттестации:</p>
			<div class="line"><p class="col-xs-3 col-xs-offset-6 text-right">КПК ОБЩИЙ:</p><h4 id="kpk" class="col-xs-1"></h4></div>
			<div class="line"><p class="col-xs-3 col-xs-offset-6 text-right">КНК ОБЩИЙ:</p><h4 id="knk" class="col-xs-1"></h4></div>
		</div>
		<ol class="container" start="9">
			<li class="form-group">
				<p>Решение аттестационной комиссии:</p>
				<p class="underline"></p>
				<p class="underline"></p>
				<p class="underline"></p>
				<p class="underline"></p>
				<p class="underline"></p>
			</li>
			<li class="form-group">
				<p>Количественный состав аттестационной комиссии:</p>
				<div class="line">
					<p class="col-xs-4 col-xs-offset-1 text-right">на заседании присутствовало</p><span class="underline col-xs-1"></span><p class="col-xs-6">членов аттестационной комиссии</p>
				</div>
				<div class="line">
					<p class="col-xs-4 col-xs-offset-1 text-right">количество голосов за</p><span class="underline col-xs-1"></span><p class="col-xs-2 text-right">против</p><span class="underline col-xs-1"></span>
				</div>
			</li>
			<li class="form-group">
				<p>Примечание:</p>
				<p class="underline"></p>
				<p class="underline"></p>
			</li>
		</ol>
		<div class="container">
			<div class="form-group clearfix"><p class="col-xs-6 text-right">Председатель аттестационной комиссии</p><span class="underline substring col-xs-2" data-substring="(подпись)"></span><span class="underline substring col-xs-3 col-xs-offset-1" data-substring="(расшифровка подписи)"></span></div>
			<div class="form-group clearfix"><p class="col-xs-6 text-right">Секретарь аттестационной комиссии</p><span class="underline substring col-xs-2" data-substring="(подпись)"></span><span class="underline substring col-xs-3 col-xs-offset-1" data-substring="(расшифровка подписи)"></span></div>
			<div class="form-group clearfix"><p class="col-xs-8 text-right">Дата проведения аттестации и принятия решения аттестационной комиссией</p><span class="underline col-xs-2"></span></div>
			<div class="form-group clearfix"><p class="col-xs-8 text-right">С решением аттестационной комиссии согласен / не согласен:</p><span class="underline col-xs-4"></span></div>
			<div class="form-group clearfix"><span class="underline substring col-xs-offset-6 col-xs-2" data-substring="(подпись)"></span><span class="underline substring col-xs-3 col-xs-offset-1" data-substring="(расшифровка подписи)"></span></div>
		</div>
	</div>

</script>

<script type="javascript/template" id="tmpl-professorCertificationPrint-info">

	<li class="form-group"><p>ФИО</p><h4 class="underline">{last_name} {first_name} {middle_name}</h4></li>
	<li class="form-group"><p>Дата рождения</p><h4 class="underline">{birthday}</h4></li>
	<li class="form-group"><p>Занимаемая должность на момент аттестации и дата назначения на эту должность</p><h4 class="underline">{role}</h4></li>
	<li class="form-group"><p>Сведения о профессиональном образовании, наличии ученой степени, ученого звания</p>
		<h4 class="underline substring" data-substring="(когда и какое учебное заведение окончил, специальность и квалификация по образованию)">{education_info}</h4>
		<h4 class="underline substring" data-substring="(учебная степень, ученое звание)">{science_degree}. {science_title}</h4>
	</li>
	<li class="form-group"><p>Сведения о повышении квалификации за последние 5 лет до прохождения аттестации</p><h4 class="underline">{courses_info}</h4></li>
	<li class="form-group"><p>Стаж научно-педагогической работы</p><h4 class="underline">{science_pedagogic_exp}</h4>
		<div class="line">
			<p class="col-xs-2 text-right">в том числе:</p>
			<p class="col-xs-1 text-right">научный</p><h4 class="col-xs-3"><p class="underline">{science_exp}</p></h4>
			<p class="col-xs-2 text-right">педагогический</p><h4 class="col-xs-3"><p class="underline">{pedagogic_exp}</p></h4>
		</div>
	</li>
	<li class="form-group"><p>Общий трудовой стаж</p><p class="underline">{working_exp}</p></li>
	<li class="form-group"><p>Таблица аттестационных показателей, характеризующих квалификацию и опыт работы аттестуемого (научного сотрудника и педагогического работника ГУУ) по направлению научно-исследовательской/образовательной деятельности</p></li>

</script>

<script type="javascript/template" id="tmpl-professorCertificationPrint-section">
	/*
	section_name
	section_description
	points
	section_max_points
	*/
	<tr>
		<th colspan="6">{section_name}. {section_description}</th>
	</tr>
	<tr>
		<th align="right" colspan="2">Общее количество баллов за раздел</th>
		<td></td>
		<td></td>
		<td>{points}</td>
		<td>{section_max_points}</td>
	</tr>
</script>

<script type="javascript/template" id="tmpl-professorCertificationPrint-row">
	/*
	row_num
	name
	unit_of_measure
	value
	point_per_unit
	points
	max_points
	*/
	<tr>
		<th align="right">{row_num}</th>
		<th align="right">{name}</th>
		<td>{value}</td>
		<td>{point_per_unit}</td>
		<td>{points}</td>
		<td>{max_points}</td>
	</tr>
</script>