<script type="javascript/template" id="tmpl-timetableEditor-page">
<div class="page">
  <div class="label label-info copy-line-drag" style="position: fixed; z-index: 10; display: none;">Перетащите на другую строку...</div>
  <div class="timetable-env">
<section class="timetable">
  <div class="row">
    <div class="col-md-4">
      <select name="institute" class="select2 institutes not-auto" data-allow-clear="true" data-placeholder="Выберите институт...">
        <option></option>
      </select>
    </div>
    <div class="col-md-2">
      <select name="course" class="select2 courses to-select2" data-allow-clear="true" data-placeholder="Выберите курс...">
        <option></option>
        <option>1</option>
        <option>2</option>
      </select>
    </div>
    <div class="col-md-4">
      <select name="profile" class="select2 profiles not-auto" data-allow-clear="true" data-placeholder="Выберите группы...">
        <option></option>
      </select>
    </div>
    <div class="col-md-2">
      Смена <div class="make-switch has-switch student-groups-shift deactivate" data-on="info" data-off="success">
        <div class="switch-toggler switch-animate">
          <input type="checkbox" checked=""><span class="switch-left switch-info">1</span><label>&nbsp;</label><span class="switch-right switch-success" style="background-color: #5bc0de; color: #fff;">2</span>
        </div>
      </div>
    </div>
</div>
  <p></p>
  <div class="row">
    <div class="col-md-12">
      <table class="table responsive table-hover table-condensed">
        <tbody class="timetable-tbody">
        </tbody>
      </table>
    </div>
  </div>

<div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-green btn-icon pull-right save-timetable hidden">
        Сохранить
        <i class="entypo-floppy"></i>
      </button>
    </div>
  </div>



</section>


</div>
</div>
</script>

<script type="javascript/template" id="tmpl-timetable-day">
  <tr class="{color_class}">
    <td rowspan="13" colspan="7">{day_name}</td>
  </tr>
</script>

<script type="javascript/template" id="tmpl-timetable-class-type">
  <tr class="{color_class} ">
    <td rowspan="3" colspan="6" class="class-time-{class_type}">{class_time}</td>
  </tr>
</script>

<script type="javascript/template" id="tmpl-timetable-class-info">
  <tr class="timetable-item {color_class}" data-day-type="{day_type}" data-class-type="{class_type}" data-week-type="{week_type}">
    <td class="week-type">{week_type_text}</td>
    <td>
      <input type="text" name="typeahead_remote" class="form-control typeahead subject-name" placeholder="Название дисциплины" />
    </td>
    <td>
      <select class='buildings-list select2'>
        <option></option>
        <option value="А"> А </option>
        <option value="У"> У </option>
        <option value="ЛК">ЛК</option>
        <option value="БЦ">БЦ</option>
        <option value="ПА">ПА</option>
      </select>
    </td>
    <td style="width: 90px;" class="room-number">
      <input type="text" class="form-control room-number" placeholder="№" />
    </td>
    <td style="width: 200px;">
      <select class='kafs-list'><option></option></select>
    </td>
    <td>
      <div class="class-format btn-group-{day_type}-{class_type}-{week_type}">
        <button type="button" class="btn btn-default btn-sm class-format-btn" data-value="0">Л </button>
        <button type="button" class="btn btn-default btn-sm class-format-btn" data-value="1">ПЗ</button>
        <button type="button" class="btn btn-default btn-sm class-format-btn" data-value="2">ЛЗ</button>
      </div>
    </td>
    <td style="width: 200px;"><select class='pps-list'><option></option></select></td>
    <td>
      <button type="button" class="btn btn-warning info hidden"> <i class="entypo-info"></i> </button>
      <button type="button" class="btn btn-white clear-line"> <i class="entypo-trash"></i> </button>
    </td>
  </tr>
</script>

