<script type="javascript/template" id="tmpl-timetable-page">
  <div class="page">
    <div class="timetable-env">
      <section class="timetable">
        <div class="row">
          <div class="col-md-12">
            <table class="table responsive table-hover table-condensed">
              <tbody class="timetable-tbody">

              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
  </div>
</script>

<script type="javascript/template" id="tmpl-my-timetable-day">
  <tr class="{color_class}">
    <td rowspan="13" colspan="7">{day_name}</td>
  </tr>
</script>

<script type="javascript/template" id="tmpl-my-timetable-class-type">
  <tr class="{color_class} ">
    <td rowspan="3" colspan="6" class="class-time-{class_type}">{class_time}</td>
  </tr>
</script>

<script type="javascript/template" id="tmpl-my-timetable-class-info">
  <tr class="timetable-item {color_class}" data-day-type="{day_type}" data-class-type="{class_type}"
      data-week-type="{week_type}">
    <td>{week_type_text}</td>
    <td>
      {subject_name}
    </td>
    <td>
      {building_type} {room}
    </td>
    <td style="width: 200px;">
      {kaf_name}
    </td>
    <td>
      {class_format_text}
    </td>
    <td style="width: 200px;">
      <a href="javascript:showProfile({professor_id})" class="handled"
         title="Информация про {first_name} {last_name} {middle_name}">{first_name} {last_name} {middle_name}</a>
    </td>
  </tr>
</script>


<script type="javascript/template" id="tmpl-professors-timetable-tbody">
  <tr class="">
    <td rowspan="27" colspan="8">Понедельник</td>
  </tr>
  <tr class="">
    <td rowspan="13" colspan="7">I смена</td>
  </tr>
  <tr class=" ">
    <td rowspan="3" colspan="5" class="class-time-i-0"> </td>
  </tr>
  <tr class="timetable-item i-1-1-1" data-day-type="1" data-class-type="1" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item i-1-1-2" data-day-type="1" data-class-type="1" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class=" ">
    <td rowspan="3" colspan="5" class="class-time-i-1"> </td>
  </tr>
  <tr class="timetable-item i-1-2-1" data-day-type="1" data-class-type="2" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item i-1-2-2" data-day-type="1" data-class-type="2" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class=" ">
    <td rowspan="3" colspan="5" class="class-time-i-2"> </td>
  </tr>
  <tr class="timetable-item i-1-3-1" data-day-type="1" data-class-type="3" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item i-1-3-2" data-day-type="1" data-class-type="3" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class=" ">
    <td rowspan="3" colspan="5" class="class-time-i-3"> </td>
  </tr>
  <tr class="timetable-item i-1-4-1" data-day-type="1" data-class-type="4" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item i-1-4-2" data-day-type="1" data-class-type="4" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="active">
    <td rowspan="13" colspan="7">II смена</td>
  </tr>
  <tr class="active ">
    <td rowspan="3" colspan="5" class="class-time-ii-0"> </td>
  </tr>
  <tr class="timetable-item active ii-1-1-1" data-day-type="1" data-class-type="1" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item active ii-1-1-2" data-day-type="1" data-class-type="1" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="active ">
    <td rowspan="3" colspan="5" class="class-time-ii-1"> </td>
  </tr>
  <tr class="timetable-item active ii-1-2-1" data-day-type="1" data-class-type="2" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item active ii-1-2-2" data-day-type="1" data-class-type="2" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="active ">
    <td rowspan="3" colspan="5" class="class-time-ii-2"> </td>
  </tr>
  <tr class="timetable-item active ii-1-3-1" data-day-type="1" data-class-type="3" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item active ii-1-3-2" data-day-type="1" data-class-type="3" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="active ">
    <td rowspan="3" colspan="5" class="class-time-ii-3"> </td>
  </tr>
  <tr class="timetable-item active ii-1-4-1" data-day-type="1" data-class-type="4" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item active ii-1-4-2" data-day-type="1" data-class-type="4" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>

  //Вторник

  <tr class="">
    <td rowspan="27" colspan="8">Вторник</td>
  </tr>
  <tr class="">
    <td rowspan="13" colspan="7">I смена</td>
  </tr>
  <tr class=" ">
    <td rowspan="3" colspan="5" class="class-time-i-0"> </td>
  </tr>
  <tr class="timetable-item i-2-1-1" data-day-type="2" data-class-type="1" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item i-2-1-2" data-day-type="2" data-class-type="1" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class=" ">
    <td rowspan="3" colspan="5" class="class-time-i-1"> </td>
  </tr>
  <tr class="timetable-item i-2-2-1" data-day-type="2" data-class-type="2" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item i-2-2-2" data-day-type="2" data-class-type="2" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class=" ">
    <td rowspan="3" colspan="5" class="class-time-i-2"> </td>
  </tr>
  <tr class="timetable-item i-2-3-1" data-day-type="2" data-class-type="3" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item i-2-3-2" data-day-type="2" data-class-type="3" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class=" ">
    <td rowspan="3" colspan="5" class="class-time-i-3"> </td>
  </tr>
  <tr class="timetable-item i-2-4-1" data-day-type="2" data-class-type="4" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item i-2-4-2" data-day-type="2" data-class-type="4" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="active">
    <td rowspan="13" colspan="7">II смена</td>
  </tr>
  <tr class="active ">
    <td rowspan="3" colspan="5" class="class-time-ii-0"> </td>
  </tr>
  <tr class="timetable-item active ii-2-1-1" data-day-type="2" data-class-type="1" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item active ii-2-1-2" data-day-type="2" data-class-type="1" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="active ">
    <td rowspan="3" colspan="5" class="class-time-ii-1"> </td>
  </tr>
  <tr class="timetable-item active ii-2-2-1" data-day-type="2" data-class-type="2" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item active ii-2-2-2" data-day-type="2" data-class-type="2" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="active ">
    <td rowspan="3" colspan="5" class="class-time-ii-2"> </td>
  </tr>
  <tr class="timetable-item active ii-2-3-1" data-day-type="2" data-class-type="3" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item active ii-2-3-2" data-day-type="2" data-class-type="3" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="active ">
    <td rowspan="3" colspan="5" class="class-time-ii-3"> </td>
  </tr>
  <tr class="timetable-item active ii-2-4-1" data-day-type="2" data-class-type="4" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item active ii-2-4-2" data-day-type="2" data-class-type="4" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>

  //Среда

  <tr class="">
    <td rowspan="27" colspan="8">Среда</td>
  </tr>
  <tr class="">
    <td rowspan="13" colspan="7">I смена</td>
  </tr>
  <tr class=" ">
    <td rowspan="3" colspan="5" class="class-time-i-0"> </td>
  </tr>
  <tr class="timetable-item i-3-1-1" data-day-type="3" data-class-type="1" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item i-3-1-2" data-day-type="3" data-class-type="1" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class=" ">
    <td rowspan="3" colspan="5" class="class-time-i-1"> </td>
  </tr>
  <tr class="timetable-item i-3-2-1" data-day-type="3" data-class-type="2" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item i-3-2-2" data-day-type="3" data-class-type="2" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class=" ">
    <td rowspan="3" colspan="5" class="class-time-i-2"> </td>
  </tr>
  <tr class="timetable-item i-3-3-1" data-day-type="3" data-class-type="3" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item i-3-3-2" data-day-type="3" data-class-type="3" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class=" ">
    <td rowspan="3" colspan="5" class="class-time-i-3"> </td>
  </tr>
  <tr class="timetable-item i-3-4-1" data-day-type="3" data-class-type="4" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item i-3-4-2" data-day-type="3" data-class-type="4" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="active">
    <td rowspan="13" colspan="7">II смена</td>
  </tr>
  <tr class="active ">
    <td rowspan="3" colspan="5" class="class-time-ii-0"> </td>
  </tr>
  <tr class="timetable-item active ii-3-1-1" data-day-type="3" data-class-type="1" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item active ii-3-1-2" data-day-type="3" data-class-type="1" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="active ">
    <td rowspan="3" colspan="5" class="class-time-ii-1"> </td>
  </tr>
  <tr class="timetable-item active ii-3-2-1" data-day-type="3" data-class-type="2" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item active ii-3-2-2" data-day-type="3" data-class-type="2" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="active ">
    <td rowspan="3" colspan="5" class="class-time-ii-2"> </td>
  </tr>
  <tr class="timetable-item active ii-3-3-1" data-day-type="3" data-class-type="3" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item active ii-3-3-2" data-day-type="3" data-class-type="3" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="active ">
    <td rowspan="3" colspan="5" class="class-time-ii-3"> </td>
  </tr>
  <tr class="timetable-item active ii-3-4-1" data-day-type="3" data-class-type="4" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item active ii-3-4-2" data-day-type="3" data-class-type="4" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>

  //Четверг

  <tr class="">
    <td rowspan="27" colspan="8">Четверг</td>
  </tr>
  <tr class="">
    <td rowspan="13" colspan="7">I смена</td>
  </tr>
  <tr class=" ">
    <td rowspan="3" colspan="5" class="class-time-i-0"> </td>
  </tr>
  <tr class="timetable-item i-4-1-1" data-day-type="4" data-class-type="1" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item i-4-1-2" data-day-type="4" data-class-type="1" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class=" ">
    <td rowspan="3" colspan="5" class="class-time-i-1"> </td>
  </tr>
  <tr class="timetable-item i-4-2-1" data-day-type="4" data-class-type="2" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item i-4-2-2" data-day-type="4" data-class-type="2" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class=" ">
    <td rowspan="3" colspan="5" class="class-time-i-2"> </td>
  </tr>
  <tr class="timetable-item i-4-3-1" data-day-type="4" data-class-type="3" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item i-4-3-2" data-day-type="4" data-class-type="3" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class=" ">
    <td rowspan="3" colspan="5" class="class-time-i-3"> </td>
  </tr>
  <tr class="timetable-item i-4-4-1" data-day-type="4" data-class-type="4" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item i-4-4-2" data-day-type="4" data-class-type="4" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="active">
    <td rowspan="13" colspan="7">II смена</td>
  </tr>
  <tr class="active ">
    <td rowspan="3" colspan="5" class="class-time-ii-0"> </td>
  </tr>
  <tr class="timetable-item active ii-4-1-1" data-day-type="4" data-class-type="1" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item active ii-4-1-2" data-day-type="4" data-class-type="1" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="active ">
    <td rowspan="3" colspan="5" class="class-time-ii-1"> </td>
  </tr>
  <tr class="timetable-item active ii-4-2-1" data-day-type="4" data-class-type="2" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item active ii-4-2-2" data-day-type="4" data-class-type="2" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="active ">
    <td rowspan="3" colspan="5" class="class-time-ii-2"> </td>
  </tr>
  <tr class="timetable-item active ii-4-3-1" data-day-type="4" data-class-type="3" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item active ii-4-3-2" data-day-type="4" data-class-type="3" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="active ">
    <td rowspan="3" colspan="5" class="class-time-ii-3"> </td>
  </tr>
  <tr class="timetable-item active ii-4-4-1" data-day-type="4" data-class-type="4" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item active ii-4-4-2" data-day-type="4" data-class-type="4" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>

  //пятница

  <tr class="">
    <td rowspan="27" colspan="8">Пятница</td>
  </tr>
  <tr class="">
    <td rowspan="13" colspan="7">I смена</td>
  </tr>
  <tr class=" ">
    <td rowspan="3" colspan="5" class="class-time-i-0"> </td>
  </tr>
  <tr class="timetable-item i-5-1-1" data-day-type="5" data-class-type="1" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item i-5-1-2" data-day-type="5" data-class-type="1" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class=" ">
    <td rowspan="3" colspan="5" class="class-time-i-1"> </td>
  </tr>
  <tr class="timetable-item i-5-2-1" data-day-type="5" data-class-type="2" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item i-5-2-2" data-day-type="5" data-class-type="2" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class=" ">
    <td rowspan="3" colspan="5" class="class-time-i-2"> </td>
  </tr>
  <tr class="timetable-item i-5-3-1" data-day-type="5" data-class-type="3" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item i-5-3-2" data-day-type="5" data-class-type="3" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class=" ">
    <td rowspan="3" colspan="5" class="class-time-i-3"> </td>
  </tr>
  <tr class="timetable-item i-5-4-1" data-day-type="5" data-class-type="4" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item i-5-4-2" data-day-type="5" data-class-type="4" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="active">
    <td rowspan="13" colspan="7">II смена</td>
  </tr>
  <tr class="active ">
    <td rowspan="3" colspan="5" class="class-time-ii-0"> </td>
  </tr>
  <tr class="timetable-item active ii-5-1-1" data-day-type="5" data-class-type="1" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item active ii-5-1-2" data-day-type="5" data-class-type="1" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="active ">
    <td rowspan="3" colspan="5" class="class-time-ii-1"> </td>
  </tr>
  <tr class="timetable-item active ii-5-2-1" data-day-type="5" data-class-type="2" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item active ii-5-2-2" data-day-type="5" data-class-type="2" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="active ">
    <td rowspan="3" colspan="5" class="class-time-ii-2"> </td>
  </tr>
  <tr class="timetable-item active ii-5-3-1" data-day-type="5" data-class-type="3" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item active ii-5-3-2" data-day-type="5" data-class-type="3" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="active ">
    <td rowspan="3" colspan="5" class="class-time-ii-3"> </td>
  </tr>
  <tr class="timetable-item active ii-5-4-1" data-day-type="5" data-class-type="4" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item active ii-5-4-2" data-day-type="5" data-class-type="4" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>

  //суббота

  <tr class="">
    <td rowspan="27" colspan="8">Суббота</td>
  </tr>
  <tr class="">
    <td rowspan="13" colspan="7">I смена</td>
  </tr>
  <tr class=" ">
    <td rowspan="3" colspan="5" class="class-time-i-0"> </td>
  </tr>
  <tr class="timetable-item i-6-1-1" data-day-type="6" data-class-type="1" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item i-6-1-2" data-day-type="6" data-class-type="1" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class=" ">
    <td rowspan="3" colspan="5" class="class-time-i-1"> </td>
  </tr>
  <tr class="timetable-item i-6-2-1" data-day-type="6" data-class-type="2" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item i-6-2-2" data-day-type="6" data-class-type="2" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class=" ">
    <td rowspan="3" colspan="5" class="class-time-i-2"> </td>
  </tr>
  <tr class="timetable-item i-6-3-1" data-day-type="6" data-class-type="3" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item i-6-3-2" data-day-type="6" data-class-type="3" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class=" ">
    <td rowspan="3" colspan="5" class="class-time-i-3"> </td>
  </tr>
  <tr class="timetable-item i-6-4-1" data-day-type="6" data-class-type="4" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item i-6-4-2" data-day-type="6" data-class-type="4" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="active">
    <td rowspan="13" colspan="7">II смена</td>
  </tr>
  <tr class="active ">
    <td rowspan="3" colspan="5" class="class-time-ii-0"> </td>
  </tr>
  <tr class="timetable-item active ii-6-1-1" data-day-type="6" data-class-type="1" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item active ii-6-1-2" data-day-type="6" data-class-type="1" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="active ">
    <td rowspan="3" colspan="5" class="class-time-ii-1"> </td>
  </tr>
  <tr class="timetable-item active ii-6-2-1" data-day-type="6" data-class-type="2" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item active ii-6-2-2" data-day-type="6" data-class-type="2" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="active ">
    <td rowspan="3" colspan="5" class="class-time-ii-2"> </td>
  </tr>
  <tr class="timetable-item active ii-6-3-1" data-day-type="6" data-class-type="3" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item active ii-6-3-2" data-day-type="6" data-class-type="3" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="active ">
    <td rowspan="3" colspan="5" class="class-time-ii-3"> </td>
  </tr>
  <tr class="timetable-item active ii-6-4-1" data-day-type="6" data-class-type="4" data-week-type="1">
    <td>Нечетная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
  <tr class="timetable-item active ii-6-4-2" data-day-type="6" data-class-type="4" data-week-type="2">
    <td>Четная</td>
    <td class="subject-name"></td>
    <td class="room"></td>
    <td class="groups-name" style="width: 200px;"></td>
    <td class="class-format"> </td>
  </tr>
</script>

