/*[fmt]AA90-1A0A*/
/*+clearfix {*/
.jstree ul li, .jstree ul li:hover{
    padding-left: 0;
    background: none;
}
.jstree ul li li, .jstree ul li li:hover{
    margin-left: 18px;
}
.ui-jqgrid .ui-jqgrid-view{
    font-size: 12px;
}
.ui-tabs .ui-state-default a{
    outline: 0;
}
.clear
{
    clear: both;
    background: none;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
}
.check_box_cell{
    display: block;
    width: 200px;
    margin-right: 20px;
    float: left;
    white-space: nowrap;
    overflow: hidden;
}

#debug_log:after,.pagination:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
#debug_log,.pagination
{
	display: inline-block;
}
#debug_log,.pagination
{
/*\*/
	display: block;
/**/
	_height: 1px;
}
/*+}*/
/*[clearfix]*/#debug_log
{
	/*+placement:float-right 0px 0px;*/
	float: right;
	position: relative;
	left: 0px;
	top: 0px;
	padding: 0;
}
TABLE.main
{
	width: 100%;
}
#bases_module UL LI label{
    cursor: pointer;
}
#bases_module UL LI A{
    cursor: default;
}
#bases_module UL LI label{
    cursor: pointer;
    display: block;
}
DIV#subject_menu
{
	text-align: center;
}
DIV#form_div
{
}
DIV#form_div
{
}
.button
{
	font-size: 7pt !important;
}
IMG.subject_img
{
}
.subject_table TD.description
{
	font-weight: bold;
	text-align: center;
}
DIV.subj_div
{
	float: left;
	width: 300px;
	height: 250px;
}
#strict
{
	height: 20px;
	color: #EA0D0D;
	/*[disabled]padding-left:50px;*/
	visibility: show;
}
DIV.main
{
	width: 100%;
}
.ui-menu-content
{
	overflow: hidden !important;
}
 .fields
{
}
.inputbox
{
}
.inputbox
{
	font-size: 8pt !important;
}
.field
{
}
INPUT
{
}
INPUT#mod-search-searchword.inputbox
{
	font-size: 8pt !important;
}
.number_cell
{
	vertical-align: top;
	padding-top: 30px;
	width: 10px;
}
.cover_cell
{
	vertical-align: top;
}
.form_div
{
}
.main FIELDSET
{
	background-color: transparent;
	font-size: 1em;
	border: 1px solid #000000;
	width: 95%;
}
.element
{
}
DIV.element
{
	/*[empty]position:;*/
	display: block;
	overflow: hidden;
}
DIV.element
{
	/*[disabled]display:inline-block;*/
	/*[disabled]float:left;*/
	/*[disabled]position:relative;*/
	/*[disabled]width:200px;*/
	/*[disabled]border:1px solid #000000;*/
	/*[disabled]clear:left;*/
	/*[disabled]overflow:hidden;*/
}
LABEL
{
}
#user_settings_cell LABEL
{
	padding-left: 0px;
	padding-right: 8px;
}
.showing_element
{
	float: left;
	width: 100px;
	border: 1px solid #000000;
	height: 50px;
}
#req_description_cell,#req_description_cell INPUT.request_field
{
	font-size: 9pt;
	font-style: italic;
	font-family: arial;
}
#req_description_cell INPUT.request_field
{
	border-width: 0;
	background-color: transparent;
	width: 500px;
}
#header_cell
{
	font-size: 14pt !important;
	text-align: center;
	font-weight: bold;
    padding: 3px 0;
}
.model
{
	width: 100%;
}
TABLE.ed_table
{
	border: 0px solid #000000;
}
#amount
{
	font-size: 9pt;
}
.explication
{
	font-size: 1.1em;
	font-weight: bold;
	width: 200px !important;
}
.field
{
	/*[disabled]border:1px solid #000000;*/
}
#ji_form .fields
{
	font-size: 1.2em;

}
.ui-autocomplete-input
{
}
.fields
{
	padding: 1px;
}
#ji_form
{
}
#keywords
{
	width: 100%;
}
TD.sort_cell,TD.formats_cell
{
	text-align: right;
	font-size: 1em;
	font-weight: normal;
}
TD.formats_cell
{
	text-align: left;
}
.bo_cell .ui-tabs
{
	width: 100%;
}
TABLE.records
{
	width: 100%;
}
SPAN.no_exems
{
	text-align: center;
	font-size: 11pt;
}
TABLE.record
{
	width: 100%;
}
TD.cover_cell
{
	width: 60px;
}
TABLE.show_ex
{
	width: 100%;
	border: 1px solid #000000;
}
TABLE.show_ex TD,TABLE.show_ex TH
{
	padding: 10px;
	border: 1px solid #000000;
	margin: 3px;
	text-align: center;
}
TABLE.show_ex TD.ex_full_name_cell
{
	text-align: left;
}
TABLE.show_ex TH
{
	/*[empty]text-align:;*/
}
TABLE.show_ex .ex_number_cell
{
	width: 10%;
}
TABLE.show_ex .order_cell
{
	width: 40px;
}
.link_bo_part
{
	/*[disabled]font-weight:bold;*/
	/*[disabled]border:1px solid #7D7171;*/
	/*[disabled]margin:7px;*/
	/*[disabled]padding:3px;*/
}
.add_buttons
{
	padding-top: 10px;
}
.bo_cell
{
	vertical-align: top;
}
.bo_cell .ui-tabs .ui-tabs-nav
{
	padding: 0;
}
TABLE.show_ed TD,TABLE.show_ed TH
{
	/*[disabled]border-right:0;*/
	/*[disabled]border-left:0;*/
}
.show_ed .ed_image_cell
{
	width: 32px;
}
.show_ed .ed_file_size_cell
{
	width: 20%;
	text-align: center;
}
.show_ed.ed_number_cell
{
	width: 20px;
}
.show_ed .ed_full_name_cell
{
	text-align: center;
}
.ed_table TD.ed_full_name_cell
{
	text-decoration: underline;
}
TD
{
}
.ed_table
{
	cursor: pointer;
	border-width: 0 !important;
}
.show_ed TH.ed_full_name_cell
{
}
.show_ed TH
{
	font-size: 0.9em;
}
.show_ed .ed_ext_header_cell
{
	font-weight: bold;
	text-align: center;
	border: 1px solid #000000;
	padding: 7px;
}
.show_ed .ed_image_cell
{
	width: 33px;
}
.show_ed .ed_number_cell
{
	width: 20px;
}
.bo_cell .ui-state-default
{
	height: 23px;
	font-size: 0.85em;
	font-family: arial;
}
.bo_cell .ui-tabs .ui-tabs-nav LI A
{
	padding: 0.05em;
}
.bo_lighting
{
	color: #FF0000;
}
/*[clearfix]*/.pagination
{
	text-align: center !important;
	font-size: 1em;
	/*[empty]+placement:;*/
	/*[empty]font-family:;*/
}
TD.pagination
{
	text-align: center;
}
TD.jpagination DIV#paginator
{
	text-align: center;
	vertical-align: middle;
	margin: 0px;
}
#print_cell .print_select,#print_cell TD
{
	font-size: 1em;
}
TD.buttons
{
	text-align: center;
}
TABLE#progress_bar_print_table
{
	/*[disabled]visibility:hidden;*/
}
LI
{
	background-image: none;
}
.ui-menu-item
{
	background-image: none !important;
	text-align: left !important;
}
.ui-tabs-nav a
{
    font-weight: bold;
}
#fog_box{
	position: relative;
	/* IE 6-7 */
   *display: inline-block;
}

}
.fog_div
{
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
/*IE 5.5+*/
	-moz-opacity: 0.4;
/*Mozilla 1.6 Р В РЎвЂ Р В Р вЂ¦Р В РЎвЂР В Р’В¶Р В Р’Вµ*/
	-khtml-opacity: 0.4;
/*Konqueror 3.1, Safari 1.1*/
	opacity: 0.4;
/*CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9*/
}
#upload_recomendation
{
	padding: 10px;
	border: 1px solid #000000;
	margin: 3px;
	text-align: center;
}
.upload_button,.download_button
{
	cursor: pointer;
}
TD.upload_for_cell
{
	text-align: center !important;
}
TABLE.show_owner
{
	width: 100%;
	border: 1px solid #000000;
}
TABLE.show_owner TD,TABLE.show_owner TH
{
	padding: 10px;
	border: 1px solid #000000;
	margin: 3px;
	text-align: center;
}
TABLE.show_owner TD.owner_cell
{
	text-align: left;
}
TABLE.show_owner TD.number_cell
{
	text-align: left;
}
DIV.centred_dialog_message
{
	text-align: center !important;
	font-size: 1.5em;
}
.ui-dialog .ui-dialog-content
{
	text-align: justify;
	font-size: 1.2em;
}
/*float image*/
.fi
{
	float: left;
	margin: 10px;
}
.w100
{
	width: 100%;
}
/*COmments Button*/
#jc{
    clear: both;
    padding-top: 1px;
}
.comments_form_loader{
    margin: 2px 4px;
}
.comments
{
}
.c_get
{
	cursor: pointer;
	display: block;
	width: 34px;
	height: 34px;
	margin: 0;
	position: relative;
	float: left;
	vertical-align: middle;
	margin: 0 5px 0 0;
    bottom: -6px;
	padding-bottom: 0;
	border: 0 solid #000000;
	border: 0px solid #000000;
}
.comments_span
{
	text-decoration: underline;
	font-size: 1.1em;
}
SPAN.comments_span
{
	vertical-align: middle;
}

.grnti_cover_div{
	width:100%;
	height: 300px;
	overflow-y: scroll;
}

.disabled{
	disabled: disabled;
	
}

div.float_field{
	float:left; 
	width:16em;
	overflow-y: auto;
}

.float_select{
	width:190px;
}


#print_form select{
	width:180px;
}

.records_print h1,.records_print h2{
/*	padding-top: 20px;
	padding-bottom: 5px; */
		margin-top: 20px;
margin-bottom: 5px;
}

#basket_icon{
	cursor: pointer;
}